%pre.key
  :preserve
    Screen Name: #{key.name}
    Consumer Key: #{key.consumer_key}
    Consumer Secret: #{key.consumer_secret}
    Oauth Token: #{key.oauth_token}
    Oauth Token Secret: #{key.oauth_token_secret}